@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap";

:root {
    --color-white: #ffffff;
    --color-rocket: #7159c1;
}

* {
    margin: 0;        
    padding: 0;
    border: 0;
    box-sizing: 0;
    list-style: none; 
 }

 body {
     background: url('https://skylab.rocketseat.com.br/static/media/MountainsOpacity.a4edba24.png') 0% 0% / cover fixed, rgb(11, 10, 13);
     font-family: 'Roboto', sans-serif;
     color: white;
 }

 header {
    padding: 29px;
    border-bottom: 1px solid rgb(100, 97, 97);
    max-width: 1900px;
    margin: 0 auto;
 }
 
.links {
     text-align: center;
 }

.links a {
     color: white;
     font-size: 18px;
     line-height: 28px;
     margin: 0 16px;
     text-decoration: none;
 }

.links a:hover {
    color: var(--color-rocket);
    transition: color 200ms;
 }


 /*=== CARDS ===*/
 
.cards {
    max-width: 800px;
    margin: 20px auto 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: var(--color-rocket);
    border-radius: 5%;
}

.card__image-container img {
    width: 100%;
    border-radius: 10%;
}

.card__content,
.card__info {
    padding: 24px;
}

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card__price {
    background-color: var(--color-rocket);
    filter: brightness(90%); 
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/* === MODAL ===*/

.modal-overlay {
    background-color: rgba(0,0,0,0,7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
    border-radius: 1%;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/* === MODAL.ACTIVE ===*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}